<div
    *ngIf="student"
    class="container"
>
    <div
        class="students__container"
    >
        <div
            class="container__div"
        >
            <img class="img" src="{{ student.avatar }}">
        </div>
        <div
            class="container__p"
        >
    
            <p>{{ student.surname }}</p>
            <p>{{ student.name}}</p>
        </div>
        <button
            (click)="removeStudent()"
            class="button"
        ><i class="fa-solid fa-face-smile-wink"></i></button>
    </div>
    

</div>
