.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 24px;
    background-color: blanchedalmond;
}
.title{
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    font-family: cursive;
    background-color: blanchedalmond;
}