
<div
    class="header"
>
    <a
        class="header__link"
        [routerLink]="['home']"
    > {{ "HEADER.HOME" | translate }}</a>
    <a
        class="header__link"
        [routerLink]="['character-list']"
    >{{ 'HEADER.OUR STUDENTS AND STAFF' | translate }}</a>
    <a
        class="header__link"
        [routerLink]="['house-list']"
    >{{ 'HEADER.HOUSES' | translate }}</a>
    <a
        class="header__link"
        [routerLink]="['students-list']"
    >{{ 'HEADER.STUDENTS' | translate }}</a>
    <a
        class="header__link"
        [routerLink]="['inscription-student']"
    > {{ "HEADER.INSCRIPTION STUDENT" | translate }}</a>
    <a
        *ngIf="isLogged"
        class="header__link"
        [routerLink]="['my-soons']"
    > {{ "HEADER.MY SOONS" | translate }}</a>
    <a
        *ngIf="!isLogged"
        class="header__link"
        [routerLink]="['login']"
    > <i class="fa-solid fa-user"></i> {{ "HEADER.LOGIN" | translate }}</a>
    <div
        class="header__div"
    >
        <label
            class="header__label"
        >
            {{"HEADER.LANGUAGE" | translate}}
            <select 
                class="header__label_select"
                #langSelect 
                (change)="changeLang(langSelect.value)"
            >
                <option *ngFor="let lang of langs" [value]="lang">
                    {{lang}}
                </option>
            </select>
        </label>
    </div>
   
   
</div>
    



