.header {
    background-color: rgb(232, 232, 232);
    border-bottom: 5px black  solid;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    &__link{
        margin: 15px;
        justify-content: flex-start;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-size: small;
        font-weight: bold;
    }
    &__link:hover{
        color: yellowgreen;
        font-weight: bolder;
        
    }
    &__div{
        display: flex;
    }
    &__label{
        justify-content: center;
        align-items: center;
        padding-top: 14px;
    }
}