.container{
    height: 600px;
    background-color: blanchedalmond;
    display: flex;
    
    align-items: center;
    justify-content: center;
    &__button{
        height: 25px;
        width: 100px;
        border-radius: 50px;
        cursor: pointer;
    }
    &__button:hover{
        height: 50px;
        width: 150px;
        border-radius: 50px;
        cursor: pointer;
        background-color: black;
        color: blueviolet;
    }

}