<div
    class="avatar__preview"
>
    <div
            class="avatar__preview_div"
            *ngIf="urlImg !== ''"
            [ngStyle]="{
                'background-image': 'url(' + urlImg+ ')'
            }"
        >
    
            <p
                class="avatar__preview_p"
            >{{"INSCRIPTION.YOU THINK THAT IS THE BEST PHOTO YOU HAVE" | translate}}</p>
    </div>
</div>
<div
    class="register"
>
    
    <form 
        class="register__form"
        *ngIf="studentForm"
        name="student"
        [formGroup]="studentForm"
        
        (submit)="saveSoon()"
        >

        <div
            class="register__form"
        >
            <label class="register__form_label" for="name">{{"INSCRIPTION.INSERT NAME" | translate }}</label>
            <input
                class="register__form_input" 
                placeholder="nombre"
                name="name"
                formControlName="name"
            >
            <p
                class="register__form_error"
                *ngIf="!studentForm.get('name')?.valid 
                    && studentForm.get('name')?.touched
                    && studentForm.get('name')?.errors?.['required']"
            >{{"INSCRIPTION.THE NAME IS REQUIRED" | translate}}</p>
            <p
                class="register__form_error"
                *ngIf="!studentForm.get('name')?.valid 
                    && studentForm.get('name')?.touched
                    && studentForm.get('name')?.errors?.['pattern']"
            >{{"INSCRIPTION.YOU CANNOT ENTER NUMBERS" | translate}}</p>
        </div>
        <div
            class="register__form"
        >
            <label class="register__form_label" for="surname">{{"INSCRIPTION.INSERT SURNAME" | translate }}</label>
            <input
                class="register__form_input"
                placeholder="apellido"
                name="surname"
                formControlName="surname"
            >
            <p
                class="register__form_error"
                *ngIf="!studentForm.get('surname')?.valid 
                    && studentForm.get('surname')?.touched
                    && studentForm.get('surname')?.errors?.['required']"
            >{{"INSCRIPTION.THE SURNAME IS REQUIRED" | translate}}</p>
            <p
                class="register__form_error"
                *ngIf="!studentForm.get('surname')?.valid 
                    && studentForm.get('surname')?.touched
                    && studentForm.get('surname')?.errors?.['pattern']"
            >{{"INSCRIPTION.YOU CANNOT ENTER NUMBERS" | translate}}</p>
        </div>
        <div
            class="register__form"
        >
            <label class="register__form_label" for="avatar">{{"INSCRIPTION.INSERT YOUR PHOTO" | translate}}</label>
            <input
                class="register__form_input"
                placeholder="imagen"
                name="avatar"
                formControlName="avatar"
            >
            <p
                class="register__form_error"
                *ngIf="!studentForm.get('avatar')?.valid && studentForm.get('avatar')?.touched"
            >{{"INSCRIPTION.PHOTO IS REQUIRED" | translate}}</p>
        </div>
        <button
            [disabled]="!studentForm.valid"
            type="submit"
            class="register__button"
        >{{"INSCRIPTION.REGISTER" | translate}}</button>
    </form>
</div>
<p
    
    class="message__info"
>{{ formMessage }}</p>
